
@{
    ViewBag.Title = "CenterPanel";
}

<hgroup>
    <p>Я являюсь студентов 3-го курса IITU. По направлению Вычислительна техника и программное обеспечение</p>
    <p>Данный проект поможет вам найти работу и найти своих напарников для будущих проектов.</p>
    <p>Также вы можете делиться своей новостью</p>
</hgroup>

