@{
    ViewBag.Title = "Мои контакты";
}
<h2>Связаться со мной</h2>

<div class="mt-5 border" style="margin-top: 120px;">
    <ul class="list-group">
        <li class="list-group-item active">Мои контакты</li>
        <li class="list-group-item">+7(776)-288-49-55</li>
        <li class="list-group-item">+7(776)-153-44-76</li>
    </ul>
</div>

<address class="mt-5">
    <strong>Поддержка:</strong>   <a href="huistownst@gmail.com">huistowns@gmail.com</a><br />
    <strong>Вторая почта:</strong> <a href="omirzakov.madiyar2000@example.com">omirzakov.madiyar2000@gmail.com</a>
</address>